$paragraph-margin-bottom: 0;

$spacer: 10px;
$spacers: (
        0: 0,
        1: ($spacer * 1),
        2: ($spacer * 2),
        3: ($spacer * 3),
        4: ($spacer * 4),
        5: ($spacer * 5),
        6: ($spacer * 6),
        7: ($spacer * 7)
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1230px
);

$primary: #4664b7;
$body-color: #000;
$danger: #ef313c;
$warning: #f9e451;
$success: #65fdc0;
$text-muted: #9c9c9c;
$gray-100: #f7f7f7;
$gray-900: #333333;

$border-color: #000;
